@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --black: #292929;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'suse', sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    background: #000;
    color: var(--white);
    overflow-x: hidden;

    &::before {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: image-set(url(../images/body-bg.avif),
                url(../images/body-bg.webp),
                url(../images/body-bg.jpg)) center / 100% 100% no-repeat;
    }
}

section {
    margin-top: 100px;
    margin-bottom: 100px;

    &:first-child {
        margin-top: 0;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    &__container {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin: auto;
        margin-top: 15px;
        padding: 15px 30px;
        background: #fff;
        border-radius: 10px;
    }

    &__logo {
        font-size: 25px;
        color: var(--black);
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__link {
        width: 25px;
        height: 25px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    a {
        color: var(--black);
        text-decoration: none;
    }
}

.hero {
    .container {
        display: grid;
        gap: 50px;
        grid-template-columns: 1.5fr 1fr;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    picture {
        width: 100%;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 20px;
        }
    }
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 60px;
}

.works {
    h2 {
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        a {
            width: 100%;
            height: 150px;
            list-style: none
        }
    }
}

.footer {
    margin-top: 100px;
    padding-bottom: 60px;

    &__logo {
        font-size: 25px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin-top: 30px;
        justify-items: center;
    }
}

.poyzon {
    background: image-set(url(../images/poyzon.avif),
            url(../images/poyzon.webp),
            url(../images/poyzon.jpg)) center / contain no-repeat;
}

.stroyplatforma {
    background: image-set(url(../images/stroyplatforma.avif),
            url(../images/stroyplatforma.webp),
            url(../images/stroyplatforma.jpg)) center / contain no-repeat;
}

.acousticmos {
    background: image-set(url(../images/acoustic-mos.avif),
            url(../images/acoustic-mos.webp),
            url(../images/acoustic-mos.jpg)) center / contain no-repeat;
}

.obnoviavto {
    background: image-set(url(../images/obnoviavto.avif),
            url(../images/obnoviavto.webp),
            url(../images/obnoviavto.jpg)) center / contain no-repeat;
}

.vyvezu-vse {
    background: image-set(url(../images/vyvezu-vse.avif),
            url(../images/vyvezu-vse.webp),
            url(../images/vyvezu-vse.jpg)) center / contain no-repeat;
}

.metallprom {
    background: image-set(url(../images/metallprom.avif),
            url(../images/metallprom.webp),
            url(../images/metallprom.jpg)) center / contain no-repeat;
}

.dveri-vid {
    background: image-set(url(../images/dveri-vid.avif),
            url(../images/dveri-vid.webp),
            url(../images/dveri-vid.jpg)) center / contain no-repeat;
}

.rzhd-medicina {
    background: url(../images/rzhd-medicina.svg) center / contain no-repeat;
}

.saunatex {
    background: image-set(url(../images/saunatex.avif),
            url(../images/saunatex.webp),
            url(../images/saunatex.jpg)) center / contain no-repeat;
}

.santehsklad96 {
    background: image-set(url(../images/santehsklad96.avif),
            url(../images/santehsklad96.webp),
            url(../images/santehsklad96.jpg)) center / contain no-repeat;
}

.pamyatniki-graver {
    background: image-set(url(../images/pamyatniki-graver.avif),
            url(../images/pamyatniki-graver.webp),
            url(../images/pamyatniki-graver.jpg)) center / contain no-repeat;
}

.fxtrade {
    background: image-set(url(../images/fxtrade.avif),
            url(../images/fxtrade.webp),
            url(../images/fxtrade.jpg)) center / contain no-repeat;
}

@import '../scss/_min1000';
@import '../scss/_1200';
@import '../scss/_992';
@import '../scss/_768';
@import '../scss/_500';