<footer class="footer">
    <div class="container">
        <div class="footer__logo">@arshavin0309</div>

        <div class="footer__list">
            <div class="footer__item"><a href="https://vk.com/arshavin0309" target="_blank">VK</a></div>
            <div class="footer__item"><a href="https://t.me/arshavin0309" target="_blank">Telegram</a></div>
            <div class="footer__item"><a href="https://wa.me/79920000507?text=" target="_blank">WhatsApp</a></div>
            <div class="footer__item"><a href="https://github.com/arshavin0309" target="_blank">Github</a></div>
        </div>
    </div>
</footer>

<script defer src="/js/main.min.js"></script>

</body>

</html>